include ./includes/_menu
.ui.top.fixed.menu.borderless.nav-menu
	a.item(href="index.html")
		img(src=siteLogoUrl)
		h4 FootCharts
	a.toc.item.toggle-sidebar
		i.icon.big.iconfont.icon-xitongcaidan
	each menu1 in menu
		if (menu1.child.length == 0)
			a.item.hover-item(href=""+menu1.link+"") #{menu1.text}
		else
			.ui.dropdown.link.item.hover-item
				| #{menu1.text}
				i.dropdown.icon
				.menu
					each menu2 in menu1.child
						if  !menu2.child
							a.item(href=""+menu2.link+"") #{menu2.text}
						else
							.item
								i.dropdown.icon
								span.text #{menu2.text}
								.menu
									each menu3 in menu2.child
										a.item(href=""+menu3.link+"") #{menu3.text}
	.right.menu
		.item
			.theme-switch-wrapper
				label(for='theme-btn')
					input#theme-btn(type='checkbox')
					.slider-wrapper
						.theme-btn-slider
						span.star.star-1
						span.star.star-2
						span.star.star-3
						span.star.star-4
						span.star.star-5
						span.star.star-6
