extends layouts/default
block pageVars
	- var page = "index"
	//- - var pageTitle = "Homepage"
block content
	.ui.grid.container.stackable
		.row
			.column
				.ui.two.stackable.cards
					each cardList in [{image:'2',title:'Passes Map',desc:'Paul Pogba Passes Direction Map'},{image:'3',title:'Passes Map',desc:'Harry Kane Passes Direction Map'}]
						.card
							.blurring.dimmable.image
								.ui.inverted.dimmer
									.content
										.center
											a.ui.positive.button Browse
								img(src='assets/img/sample/player-passes-example-'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.two.stackable.cards
					each cardList in [{image:'ex-4',title:'Player Versus',desc:'Aguero vs Griezman'},{image:'ex-5',title:'Player Versus',desc:'Mbappe vs Jesus'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.three.stackable.cards
					each cardList in [{image:'ex-8',title:'Player Skills Graph',desc:'Messi Skills Graph'},{image:'ex-9',title:'Player Skills Graph',desc:'Ronaldo Skills Graph'},{image:'ex-17',title:'Player Skills Graph',desc:'Ramos Skills Graph'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.two.stackable.cards
					each cardList in [{image:'ex-10',title:'Premier League Games',desc:'Week 9 Games'},{image:'ex-11',title:'Turkey Super League Games',desc:'Week 5 Games'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
