extends layouts/default
block pageVars
	- var page = "index"
	//- - var pageTitle = "Homepage"
block content
	.ui.grid.container.stackable
		.row
			.column
				.ui.three.stackable.cards
					each cardList in [{image:'ex-1',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-2',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-18',title:'Passes Map',desc:'Single Player Passes Direction Map'}]
						.card
							.blurring.dimmable.image
								.ui.inverted.dimmer
									.content
										.center
											a.ui.positive.button Browse
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.three.stackable.cards
					each cardList in [{image:'ex-4',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-5',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-6',title:'Passes Map',desc:'Single Player Passes Direction Map'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.three.stackable.cards
					each cardList in [{image:'ex-8',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-9',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-17',title:'Passes Map',desc:'Single Player Passes Direction Map'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
		.row
			.column
				.ui.three.stackable.cards
					each cardList in [{image:'ex-10',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-11',title:'Passes Map',desc:'Single Player Passes Direction Map'},{image:'ex-12',title:'Passes Map',desc:'Single Player Passes Direction Map'}]
						.card
							.image
								img(src='assets/img/sample/'+cardList.image+'.png')
							.content
								a.header #{cardList.title}
								.description #{cardList.desc}
